{% extends 'base.html.twig' %}

{% block title %}Dog index{% endblock %}

{% block body %}
    <h1>Hello new dog </h1>
    Bienvenue

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th id="cat">Cat</th> // ID pour les récuperer en JS
                <th id="price">Price</th>
                <th id="monkey"> Monkey</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dog in dogs %}
            <tr>
                <td>{{ dog.id }}</td>
                <td>{{ dog.cat }}</td>
                <td>{{ dog.price }}</td>
                <td>{{ dog.monkey }}</td>
                <td>
                    <a href="{{ path('dog_show', {'id': dog.id}) }}">show</a>
                    <a href="{{ path('dog_edit', {'id': dog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('dog_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
    <script src="/test.js"></script>
{% endblock %}
